include mixins/mixins

.content-body
  ul.config-sections
    each params, category in configuratorCategories
      li
        h1 #{category}
        div
          .pill-switch
            each opt in params.values
              - var isDefault = opt === params.default;
              - var label = isDefault ? (params.defaultLabel || opt) : opt;
              - var value = isDefault ? params.default : `${params.prefix}${opt}`;
              - if (isDefault) { value = params.defaultValue === undefined ? '' : params.defaultValue; }
              input(
                type="radio"
                id="#{params.group}_#{opt}"
                name="#{params.group}"
                value="#{value.toString().toLowerCase()}"
                ng-model="$parent.conf.#{params.group}"
              )
              label(for="#{params.group}_#{opt}") #{label}
