include mixins/icons
include mixins/mixins
doctype html
html(ng-app="gruvboxConfigurator", ng-controller="configuratorCtrl")
  head
    base(href="/gruvbox/")
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    title gruvbox for Sublime Text 3
    meta(
      name='description'
      content="Bright Sublime Text themes and color schemes with pastel 'retro groove' colors that are easy on the eyes. Based on gruvbox for Vim."
    )
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', type='image/x-icon', href='favicon.ico')
    link(href='main.min.css', rel='stylesheet', type='text/css', media='all')
    link(
      href='https://fonts.googleapis.com/css?family=Fira+Mono:400|Open+Sans:400,300'
      rel='stylesheet'
      type='text/css'
    )
    if (release === false)
      script(src="//localhost:35729/livereload.js" async)
      script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js")
      script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.js")
    else
      script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js")
      script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js")
    script(src="main.min.js")
  body(class="{{getClassList()}}")
    .editor
      .pane.top
        .pane.sidebar
          div
            h1 FOLDERS
            ul.tree-view
              li.directory.expanded
                +icon-folder-literal-open
                |gruvbox
                ul.tree-view
                  li.directory
                    +icon-folder-literal
                    |.github
                  li.directory
                    +icon-folder-literal
                    |assets
                  li.directory
                    +icon-folder-literal
                    |extras
                  li.directory
                    +icon-folder-literal
                    |icons
                  li.directory
                    +icon-folder-literal
                    |messages
                  li.directory
                    +icon-folder-literal
                    |prefs
                  li.directory
                    +icon-folder-literal
                    |src
                  li.directory
                    +icon-folder-literal
                    |widgets
                  li .gitignore
                  li .jscsrc
                  li(ng-class="{selected: getTheme() === 'darkhard'}")
                    |gruvbox (Dark) (Hard).sublime-theme
                  li gruvbox (Dark) (Hard).tmTheme
                  li(ng-class="{selected: getTheme() === 'darkmedium'}")
                    |gruvbox (Dark) (Medium).sublime-theme
                  li gruvbox (Dark) (Medium).tmTheme
                  li(ng-class="{selected: getTheme() === 'darksoft'}")
                    |gruvbox (Dark) (Soft).sublime-theme
                  li gruvbox (Dark) (Soft).tmTheme
                  li(ng-class="{selected: getTheme() === 'lighthard'}")
                    |gruvbox (Light) (Hard).sublime-theme
                  li gruvbox (Light) (Hard).tmTheme
                  li(ng-class="{selected: getTheme() === 'lightmedium'}")
                    |gruvbox (Light) (Medium).sublime-theme
                  li gruvbox (Light) (Medium).tmTheme
                  li(ng-class="{selected: getTheme() === 'lightsoft'}")
                    |gruvbox (Light) (Soft).sublime-theme
                  li gruvbox (Light) (Soft).tmTheme
                  li gulpfile.js
                  li LICENSE
                  li messages.json
                  li package.json
                  li README.md
        .pane.view
          .pane.tabs
            a.tab.tooltipped.tooltipped-s(
              aria-label="http://brianreilly.me/gruvbox/"
              ng-class="{selected: getLocation() === '/' || getLocation() === ''}"
              href="#/"
            ) gruvbox for Sublime Text
              +icon-tab-close
            a.tab.tooltipped.tooltipped-s(
              aria-label="http://brianreilly.me/gruvbox/experiment"
              ng-class="{selected: getLocation() === '/experiment'}"
              href="#/experiment"
            ) Preview Features
              +icon-tab-close
            a.tab.tooltipped.tooltipped-s(
              aria-label="http://brianreilly.me/gruvbox/options"
              ng-class="{selected: getLocation() === '/options'}"
              href="#/options"
            ) Options
              +icon-tab-close
            a.tab.modified.tooltipped.tooltipped-s(
              aria-label="https://github.com/Briles/gruvbox"
              href="https://github.com/Briles/gruvbox"
            ) gruvbox on GitHub
              +icon-tab-dirty
            a.tab.modified.tooltipped.tooltipped-s(
              aria-label="https://packagecontrol.io/packages/gruvbox"
              href="https://packagecontrol.io/packages/gruvbox"
            ) gruvbox on Package Control
              +icon-tab-dirty
            +icon-more
          .pane.code(ng-view)
      .pane.panel
        .pane.findreplace
          .row
            .icon-bar
              .icon-button.selected
                +icon-regex
              .icon-button
                +icon-case-sensitive
              .icon-button
                +icon-whole-word
              .icon-button.selected
                +icon-wrap
              .icon-button
                +icon-in-selection
              .icon-button.selected
                +icon-highlight-matches
            input(type="text")
            +icon-more
            button Find
            button Find Prev
            button Find All
        .pane.statusbar
          .panel-button-control.tooltipped.tooltipped-ne(
            aria-label="Switch Panel"
          )
            +icon-panels-button
          p.status-container.
            Comparing against : HEAD, Modified : 13, Line 24, Column 84
            -- Made with &lt;3 by
            #[a(href="https://github.com/Briles") Brian Reilly]
          ul.status-button
            li UTF-8
            li Unix
            li Spaces: 2
            li JSON

